.title{
    color: green;
}
nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul>li{
    display: inline;
    margin: 10px;
    font-size: medium;
    padding-right: 4px;
   
}
ul>li>a{
    color: black;
    text-decoration: none;

   
}